[submodule "BAROdriver"]
	path = .src/drivers/BAROdriver
	url = https://github.com/RazRabino/Raspberry-Pi-Pico-BMP388-Barometer-Driver
[submodule "GPSdriver"]
	path = .src/drivers/GPSdriver
	url = https://github.com/RazRabino/Raspberry-Pi-Pico-GPS-Driver
[submodule "IMUdriver"]
	path = .src/drivers/IMUdriver
	url = https://github.com/RazRabino/Raspberry-Pi-Pico-BNO055-IMU-Driver
[submodule "RXTXdriver"]
	path = .src/drivers/RXTXdriver
	url = https://github.com/RazRabino/Raspberry-Pi-Pico-RXTX-Driver
[submodule "RXTXdriver"]
	path = .src/drivers/RXTXdriver
	url = https://github.com/RazRabino/Raspberry-Pi-Pico-RXTX-Driver
[submodule "SERVOdriver"]
	path = .src/drivers/SERVOdriver
	url = https://github.com/RazRabino/Raspberry-Pi-Pico-Servo-Driver
